.nav-section {
  padding-top: 24px;
}
.main-container {
  margin: 0 auto;
}
.nav-section ul {
  margin: 0;
}
.welcome-section {
  max-width: 1440px;
  margin: auto;
  padding: 0 64px;
}
@media (max-width: 1100px) {
  .welcome-section {
    padding: 24px;
  }
}
.welcome-content {
  padding: 24px 0;
}
.welcome-content .welcome-heading {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  margin: 0;
  font-size: 36px;
  line-height: 48px;
  color: #1a1a1a;
}

.welcome-content .welcome-text {
  font-family: "Droid Sans";
  font-style: normal;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
.school-section {
  display: flex;
  gap: 16px;
}
@media (max-width: 992px) {
  .school-section {
    flex-direction: column;
  }
}
.school-cards-section {
  max-width: 976px;
}
.cards-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.cards-box .card {
  width: 182px;
  background: #ffffff;
  border-radius: 16px;
  padding: 16px;
}
@media (max-width: 660px) {
  .cards-box .card {
    width: 100%;
  }
}
.cards-box .card img {
  width: 24px;
  height: auto;
}
.cards-box .card .numbers-heading {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #1a1a1a;
}
.cards-box .card .name-text {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #1a1a1a;
}
.recent-treks-section {
  max-width: 320px;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 992px) {
  .recent-treks-section {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }
}
@media (max-width: 550px) {
  .recent-treks-section {
    flex-direction: column;
    gap: 20px;
  }
}
.recent-treks-section-div .recent-treks-cards-list .recent-treks-card-body {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.recent-treks-section-div .recent-treks-cards-list .recent-treks-card-body div {
  line-height: 10px;
}
.recent-treks-section-div .recent-treks-cards-list .recent-treks-card-body h3 {
  margin: 0;
}
.recent-treks-section-div
  .recent-treks-cards-list
  .recent-treks-card-body
  .recent-second-card
  h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 113px;
}
.recent-treks-section-div .recent-treks-cards-list .recent-treks-card-body img {
  width: 96px;
  height: 56px;
  border-radius: 8px;
}
.assignment-section {
  margin-top: 16px;
}
@media (max-width: 992px) {
  .recent-treks-section {
    margin-top: 0;
  }
}
.section-div-header .to-do {
  margin: 16px 0 4px;
}
.section-div-header .progress-heading {
  margin: 24px 0 4px;
}

/* Table Styling */
.table-section {
  border-radius: 0;
  margin: 16px 0 48px;
}
@media (max-width: 430px) {
  .table-section {
    margin: 16px 0 16px;
  }
}
.table-section .table_tabs ul {
  max-width: 480px;
  width: 100%;
  flex-wrap: nowrap;
  gap: 0;
}
@media (max-width: 565px) {
  .table-section .table_tabs ul {
    flex-wrap: wrap;
  }
}
.table-section .table_tabs li button {
  padding: 4px 27px;
}
.table-section .add-teacher-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
@media (max-width: 565px) {
  .table-section .add-teacher-box {
    gap: 16px;
  }
}
.table-section .search-filter-box {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.table-section .search-filter-box input {
  width: 240px;
  border: none;
  padding: 8px;
  border-bottom: 1.5px solid #757575;
}
.search-filter-box input::placeholder {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #e4e4e4;
}
.search-filter-box input:focus-visible {
  outline: none;
}
.add-teacher-box .filter-box {
  display: flex;
  align-items: center;
  gap: 8px;
}
.add-teacher-box .filter-box .filter-heading {
  margin: 0;
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #757575;
}
.add-teacher-box .add-box {
  display: flex;
  align-items: center;
  gap: 16px;
}
.add-teacher-box .add-box .add-heading {
  margin: 0;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0b5d7a;
}
@media (max-width: 630px) {
  .students-table {
    overflow-x: scroll;
  }
}
.students-table .table {
  margin: 16px 0;
  padding: 0 16px;
}
.students-table .table thead tr th {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1a1a1a;
}
tbody,
td,
tfoot,
tr {
  border-style: none !important;
}
th,
thead {
  border-bottom: 1px solid #1a1a1a !important;
}
.students-table .table th .th1,
.th2 {
  display: flex;
  max-width: 228px;
  justify-content: space-between;
}
@media (max-width: 630px) {
  .students-table .table th .th1,
  .th2,
  .th3,
  .th4,
  .th5 {
    gap: 6px;
  }
}
.students-table .table th .th3,
.th4 {
  max-width: 120px;
}
.students-table .table tbody tr .user-box {
  padding: 12px 0 12px 16px;
}
.students-table .table tbody tr td {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  padding: 22px 8px 18px;
  font-size: 14px;
  line-height: 20px;
  color: #757575;
}
.students-table .table tbody tr:hover {
  background: rgba(31, 165, 212, 0.08);
  color: #0b5d7a;
}
/* .students-table .table tbody tr td:hover {
  color: #0b5d7a;
} */
.students-table .table tbody tr td .dropdown .dropdown_btn {
  position: relative;
  border: none;
  background: transparent;
}
.students-table .table tbody tr td .dropdown .dropdown-menu.show {
  min-width: 200px;
  border-radius: 4px;
  transform: translate(28px, 22px) !important;
  /* inset: 12px 1px auto auto !important; */
  inset: 12px 16px auto auto !important;
  box-shadow: 0px 4px 12px 2px rgba(81, 81, 81, 0.16);
  border: none;
  padding: 8px;
}
.students-table .table tbody tr td .dropdown button.dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 184px;
  padding: 6px 0 6px 4px;
  border-radius: 4px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #757575;
}
.students-table .table tbody tr td .dropdown button.dropdown-item:hover {
  background: rgba(31, 165, 212, 0.08);
  color: #0b5d7a;
}
.students-table .table tbody tr td .dropdown .dropdown-menu.show::before {
  content: "";
  position: absolute;
  top: -11px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 11.17px solid #fff;
}
.students-table .table tbody tr td:last-child {
  text-align: right;
  padding: 20px 12px 20px 0;
}
.students-table .table tbody tr .user-box {
  padding: 16px 0 18px 16px;
}
.students-table .table tbody .grade .grades_box {
  display: flex;
  gap: 8px;
}
.students-table .table tbody .grade span {
  width: 36px;
  height: 28px;
  background: #eaedf1;
  border-radius: 4px;
  padding: 4px 8px;
}
.students-table .table tbody span:hover {
  background: rgba(31, 165, 212, 0.08);
}
.students-table .table .table-user {
  display: flex;
  align-items: center;
  gap: 8px;
}
.students-table .table .table-user img {
  width: 32px;
  height: 32px;
}
.students-table .table .table-user h5 {
  font-family: "Arial";
  font-style: normal;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #757575;
}
