/* Common Style Rules */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@font-face {
  font-family: "Droid Sans";
  src: url("../assets/fonts/droid-sans/DroidSans.ttf");
}

body {
  background-color: #f6f7fa !important;
}

/* Common Class  */
.text-style-heading-s2-cm {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  /* line-height: 32px; */
  margin-bottom: 0px !important;
}
.text-style-prep-cm {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

/* Nav Section Style */

.nav-section {
  padding-top: 40px;
}

.nav-section ul {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 10px;
}
.nav-section ul li {
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  justify-content: center;
  padding-bottom: 8px;
  padding-top: 6px;
  border-bottom: 1px solid #eaedf1;
}

.nav-section ul li a {
  display: block;
  margin-left: 10px;
  text-decoration: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #979797;
}
.nav-section ul .nav-section-selected a {
  color: #0b5d7a;
}
.nav-section ul .nav-section-selected {
  border-bottom: 1px solid #0b5d7a;
}

/* My TREKs breadcrumbs - */
@media only screen and (max-width: 400px) {
  .my-trk-bc-section-div .bc-img-1 {
    margin-right: 8px !important;
  }
  .my-trk-bc-section-div .bc-img-2 {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}
.my-trk-bc-section {
  margin-top: 22px;
}
.my-trk-bc-section-div {
  display: flex;
  align-items: center;
}
.my-trk-bc-section-div p {
  margin-bottom: 0px !important;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #979797;
}
.my-trk-bc-section-div .bc-img-1 {
  margin-right: 18px;
}
.my-trk-bc-section-div .bc-img-2 {
  margin-left: 25px;
  margin-right: 25px;
}

/*  My TREKs Detail */
@media only screen and (max-width: 844px) {
  .my-trk-detail-section-div {
    flex-direction: column;
  }
  .my-trk-detail-section-div .my-trk-detail-prep {
    margin-left: 0px !important;
    margin-top: 12px;
  }
}
@media only screen and (max-width: 350px) {
  .my-trk-detail-section-div .my-trk-detail-img {
    width: 280px !important;
    height: 144px !important;
  }
  .my-trk-detail-section-div .my-trk-detail-img img {
    width: 100% !important;
    height: 100% !important;
  }
}
.my-trk-detail-section {
  margin-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eaedf1;
}
.my-trk-detail-section-div {
  display: flex;
}
.my-trk-detail-section-div .my-trk-detail-img {
  width: 320px;
  height: 184px;
}
.my-trk-detail-section-div .my-trk-detail-prep {
  margin-left: 24px;
}
.my-trk-detail-section-div .my-trk-detail-prep .detail-prep-title {
  margin-bottom: 16px;
}
.my-trk-detail-section-div .my-trk-detail-prep .detail-prep-title h2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.my-trk-detail-section-div .my-trk-detail-prep .detail-prep-desc p {
  max-width: 640px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.my-trk-detail-section-div .detail-prep-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 16px;
}
.my-trk-detail-section-div .detail-prep-tags .tags-body {
  display: flex;
  align-items: center;
  width: 140px;
  height: 48px;
  /* background: #eaedf1;
    border: 1px solid #979797; */
  border-radius: 24px;
  padding-left: 8px;
}
.my-trk-detail-section-div .detail-prep-tags .tags-body .tags-body-polygon {
  width: 38px;
  height: 32px;
  /* background-color: #979797; */
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.my-trk-detail-section-div .detail-prep-tags .tags-body .tags-body-detail span {
  margin-left: 8px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* color: #979797; */
}

/* overview-poly-body */

.detail-prep-tags .overview-poly-body {
  background: #eaedf1;
  border: 1px solid #979797;
}
.detail-prep-tags .overview-poly-body .tags-body-polygon {
  background: #979797;
}

.my-trk-detail-section-div
  .detail-prep-tags
  .overview-poly-body
  .tags-body-detail
  span {
  color: #979797;
}
/* recall-poly-body */
.detail-prep-tags .recall-poly-body {
  background: #eaedf1;
  border: 1px solid #ca2738;
}
.detail-prep-tags .recall-poly-body .tags-body-polygon {
  background: #ca2738;
}
.my-trk-detail-section-div
  .detail-prep-tags
  .recall-poly-body
  .tags-body-detail
  span {
  color: #ca2738;
}

/* pa-poly-body */
.detail-prep-tags .pa-poly-body {
  background: #eaedf1;
  border: 1px solid #1fa5d4;
}
.detail-prep-tags .pa-poly-body .tags-body-polygon {
  background: #1fa5d4;
}
.my-trk-detail-section-div
  .detail-prep-tags
  .pa-poly-body
  .tags-body-detail
  span {
  color: #1fa5d4;
}
/*  pb-poly-body */
.detail-prep-tags .pb-poly-body {
  background: #eaedf1;
  border: 1px solid #1fa5d4;
}
.detail-prep-tags .pb-poly-body .tags-body-polygon {
  background: #1fa5d4;
}
.my-trk-detail-section-div
  .detail-prep-tags
  .pb-poly-body
  .tags-body-detail
  span {
  color: #1fa5d4;
}
/*  apply-poly-body */
.detail-prep-tags .apply-poly-body {
  background: #eaedf1;
  border: 1px solid #9fc33b;
}
.detail-prep-tags .apply-poly-body .tags-body-polygon {
  background: #9fc33b;
}
.my-trk-detail-section-div
  .detail-prep-tags
  .apply-poly-body
  .tags-body-detail
  span {
  color: #9fc33b;
}

/* TREKs assigned to  */
.trk-assign-section {
  padding: 32px 0;
  border-bottom: 1px solid #eaedf1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trk-assign-section-div {
  display: flex;
}
.trk-assign-section-div h2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.trk-assign-section-div p {
  margin-bottom: 0px !important;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.trk-assign-section-div button.students {
  margin-left: 9px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #0b5d7a;
  border: none;
  background: transparent;
}

/* Central Concepts */

.central-cncpt-section {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eaedf1;
}

.central-cncpt-section-div .central-cncpt-list-div {
  padding-left: 32px;
  margin-top: 16px;
}

/*  Central Concepts  4 topic detail */
@media only screen and (max-width: 400px) {
  .central-topic-section-div .central-topic-each-list {
    flex-direction: column;
  }
  .central-topic-section-div .central-topic-each-list .list-heading {
    white-space: nowrap;
    /* width: 120px !important; */

    text-align: left !important;
    margin-right: 0px !important;
  }
}
.central-topic-section {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eaedf1;
}

.central-topic-section-div .central-topic-each-list {
  display: flex;
}
.central-topic-section-div .central-topic-each-list .list-heading {
  white-space: nowrap;
  width: 120px !important;
  /* border: 1px solid red; */
  text-align: right;
  margin-right: 16px;
}
.central-topic-section-div .central-topic-each-list .list-detail {
  flex: 1;
}

.central-topic-section-div .central-topic-each-list .list-detail h5 {
  margin-bottom: 0px !important;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
/* recall-cc-heading */
.recall-cc-heading {
  color: #ca2738;
}
/* pa-cc-heading */
.pa-cc-heading {
  color: #1fa5d4;
}
/* pb-cc-heading */
.pb-cc-heading {
  color: #1fa5d4;
}

/* apply-cc-heading */
.apply-cc-heading {
  color: #9fc33b;
}

/*  Integrated Standards Alignment*/
.intg-stand-section {
  padding-top: 24px;
  padding-bottom: 24px;
}

.intg-stand-section-div .intg-stand-detail-list {
  margin-top: 24px;
}
.intg-stand-section-div .intg-stand-detail-list .intg-stand-list {
  display: flex;
}
.intg-stand-section-div .intg-stand-detail-list .intg-stand-list h4 {
  margin-bottom: 0px !important;
  margin-right: 16px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.intg-stand-section-div .intg-stand-detail-list .intg-stand-list p {
  margin-bottom: 0px !important;
}
.intg-stand-section-div .intg-stand-detail {
  margin-top: 8px;
}
.intg-stand-section-div
  .intg-stand-detail-list
  .intg-stand-detail
  .main-detail {
  margin-left: 26px;
  margin-bottom: 0px !important;
}

.intg-stand-section-div .intg-stand-detail-list .intg-stand-detail .sub-detal {
  margin-left: 46px;
}

/* students modal */

.students-modal,
.assignment-modal {
  background-color: rgba(31, 165, 212, 0.24);
}
.students-modal .modal-dialog {
  max-width: 640px;
}

.students-modal .modal-content {
  padding: 16px;
  background: #ffffff;
  border-radius: 16px;
}

.students-modal .modal-content .modal-header {
  padding: 8px;
  border-bottom: 2px solid #eaedf1 !important;
  margin-bottom: 16px;
}
.students-modal .modal-content .modal-header .modal-header-title {
  display: flex;
  align-items: center;
  gap: 8px;
}
.students-modal .modal-content .modal-header .modal-header-title .modal-title {
  font-family: "Nunito";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.students-modal .modal-content .modal-header .modal-header-title img,
.students-modal .modal-content .modal-header .btn-close,
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .assignment-left-header
  img,
.students-modal
  .modal-content
  .modal-body
  .students-breadcrumb
  .students-breadcrumb-arrow,
.students-modal
  .modal-content
  .modal-body
  .filters-students
  .filter-header
  .filter
  img,
.students-modal
  .modal-content
  .modal-body
  .filters-students
  .filter-header
  .filter-sort-by
  img,
.students-modal
  .modal-content
  .modal-body
  .filters-students
  .student
  .report
  img {
  width: 24px;
  height: 24px;
}

.students-modal .modal-content .modal-body,
.assignment-modal .modal-content .modal-body {
  padding: 0;
}
.students-modal .modal-content .modal-body .students-breadcrumb {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  margin-bottom: 16px;
}

.students-modal
  .modal-content
  .modal-body
  .students-breadcrumb
  .interdependence-user,
.students-modal
  .modal-content
  .modal-body
  .students-breadcrumb
  .interdependence-tab {
  display: flex;
  align-items: center;
  gap: 8px;
}
.students-modal
  .modal-content
  .modal-body
  .students-breadcrumb
  .interdependence-user
  .inter-user-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  object-fit: fill;
}
.students-modal
  .modal-content
  .modal-body
  .students-breadcrumb
  .interdependence-user
  .inter-user-name {
  font-family: "Nunito";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.students-modal
  .modal-content
  .modal-body
  .students-breadcrumb
  .interdependence-tab
  .inter-tab-polygon,
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .recall-user
  .inter-tab-polygon {
  width: 38px;
  height: 32px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #ca2738;
}
.students-modal
  .modal-content
  .modal-body
  .students-breadcrumb
  .interdependence-tab
  .inter-tab-polygon
  h4,
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .recall-user
  .inter-tab-polygon
  h4 {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.students-modal
  .modal-content
  .modal-body
  .students-breadcrumb
  .interdependence-tab
  .inter-tab-polygon-name,
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .recall-user
  .inter-user-name {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ca2738;
  margin: 0;
}

.students-modal .modal-content .modal-body .students-table {
  width: auto;
  height: auto;
}

.students-modal .modal-content .modal-body .students-table .table {
  width: 100%;
  height: auto;
  border-radius: 16px;
  overflow: hidden;
}

.students-modal .modal-content .modal-body .students-table .table > thead {
  background-color: #f6f7fa !important;
}
.students-modal
  .modal-content
  .modal-body
  .students-table
  .table
  > thead
  > tr
  > th {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding: 8px;
}

.students-modal
  .modal-content
  .modal-body
  .students-table
  .table
  > tbody
  > tr
  > td
  > .table-user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.students-modal
  .modal-content
  .modal-body
  .students-table
  .table
  > tbody
  > tr
  > td
  > .table-user
  img {
  width: 48px;
  height: 48px;
  object-fit: fill;
}

.students-modal
  .modal-content
  .modal-body
  .students-table
  .table
  > tbody
  > tr
  > td
  > .table-user
  .user-about
  h5 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.students-modal
  .modal-content
  .modal-body
  .students-table
  .table
  > tbody
  > tr
  > td
  > .table-user
  .user-about
  p {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #979797;
  margin: 0;
}

.students-modal
  .modal-content
  .modal-body
  .students-table
  .table
  > tbody
  > tr
  > td {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.students-modal
  .modal-content
  .modal-body
  .students-table
  .table
  > tbody
  > tr
  > td
  > .table-status {
  padding: 2px 4px;
  width: fit-content;
  height: auto;
  background: #6dc200;
  border-radius: 4px;
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

/* assignment modal */
.assignment-modal .modal-content {
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
}
.assignment-modal .modal-dialog {
  max-width: 1200px;
}
.assignment-modal .modal-content .modal-body {
  display: flex;
}

.assignment-modal .modal-content .modal-body .assignment-modal-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 32px;
  width: 400px;
  flex-shrink: 0;
  height: 707px;
  background: #f6f7fa;
}
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .assignment-left-header {
  display: flex;
  align-items: center;
  gap: 8px;
}
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .assignment-left-header
  p,
.students-modal
  .modal-content
  .modal-body
  .filters-students
  .filter-header
  .filter
  p,
.students-modal
  .modal-content
  .modal-body
  .filters-students
  .filter-header
  .filter-sort-by
  p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #979797;
  margin: 0;
}

.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .assignment-left-detail
  h1 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin: 0 0 8px;
}
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .assignment-left-detail
  p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .interdependence-user {
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 12px;
  width: 100%;
  height: auto;
  background: #eaedf1;
  border-radius: 8px;
  margin-bottom: 8px;
}
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .interdependence-user
  .inter-user-img {
  width: 48px;
  height: 48px;
  object-fit: fill;
  border-radius: 50%;
}

.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .interdependence-user
  .inter-user-name {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .assignment-left-label {
  width: 100%;
}
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .assignment-left-label
  .taek-label,
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .assignment-search
  .taek-label {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #979797;
  margin: 0;
  padding-left: 8px;
}

.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .recall-user {
  display: flex;
  align-items: center;
  padding: 12px 8px 12px 12px;
  gap: 12px;
  width: 100%;
  height: auto;
  background: rgba(202, 39, 56, 0.16);
  border-radius: 8px;
}

.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .assignment-search {
  width: 100%;
}
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .assignment-search
  .ass-search-input {
  padding: 8px;
  width: 100%;
  height: auto;
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 8px;
  outline: none;
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 4px;
}

.assignment-modal .modal-content .modal-body .assignment-modal-right {
  background: #ffffff;
  padding: 16px 16px 24px;
  width: 100%;
}
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-right
  .assignment-right-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 2px solid #eaedf1;
  margin-bottom: 16px;
}
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-right
  .assignment-right-header
  .modal-header-title
  h2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-right
  .assignment-calendar {
  width: 100%;
  height: 547px;
  background: #f6f7fa;
  border: 1px solid #eaedf1;
  border-radius: 16px;
  margin-bottom: 24px;
}
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-right
  .assignment-right-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-right
  .assignment-right-btn
  .assignment-right-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;
  width: fit-content;
  height: auto;
  border: 1px solid #1fa5d4;
  border-radius: 8px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1fa5d4;
  background: transparent;
}

.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .assignment-search
  .assignment-search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 8px;
  width: 100%;
  height: auto;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px 2px 8px rgba(31, 165, 212, 0.08);
  border-radius: 8px;
}

.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .assignment-search
  .assignment-search-result
  .search-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  gap: 12px;
  width: 100%;
  height: auto;
  border: 1px solid #eaedf1;
  border-radius: 8px;
}
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .assignment-search
  .assignment-search-result
  .search-user
  img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .assignment-search
  .assignment-search-result
  .search-user
  .user-name-detail
  h5,
.students-modal
  .modal-content
  .modal-body
  .filters-students
  .student
  .detail
  h6 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}
.assignment-modal
  .modal-content
  .modal-body
  .assignment-modal-left
  .assignment-search
  .assignment-search-result
  .search-user
  .user-name-detail
  p,
.students-modal
  .modal-content
  .modal-body
  .filters-students
  .student
  .detail
  p {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #979797;
  margin: 0;
}

.students-modal .modal-content .modal-body .filters-students {
  padding: 8px;
}

.students-modal .modal-content .modal-body .filters-students .filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 16px;
  gap: 8px;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eaedf1;
  margin-bottom: 8px;
}

.students-modal
  .modal-content
  .modal-body
  .filters-students
  .filter-header
  .filter {
  display: flex;
  align-items: center;
  gap: 16px;
}
.students-modal
  .modal-content
  .modal-body
  .filters-students
  .filter-header
  .filter-sort-by {
  display: flex;
  align-items: center;
  gap: 8px;
}

.students-modal .modal-content .modal-body .filters-students .student {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 4px;
  border-bottom: 1px solid #eaedf1;
}

.students-modal
  .modal-content
  .modal-body
  .filters-students
  .student
  .user-details {
  display: flex;
  align-items: center;
  gap: 12px;
}

.students-modal
  .modal-content
  .modal-body
  .filters-students
  .student
  .user-details
  .user {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.students-modal .modal-content .modal-body .filters-students .student .report {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}
.students-modal
  .modal-content
  .modal-body
  .filters-students
  .student
  .report
  a {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #0b5d7a;
  margin: 0;
}

/* media responsive */

@media (max-width: 992px) {
  .assignment-modal .modal-content .modal-body {
    flex-direction: column;
  }

  .assignment-modal .modal-content .modal-body .assignment-modal-left {
    width: 100%;
  }
}

@media (max-width: 1340px) {
  .assignment-modal .modal-dialog {
    padding: 0 24px;
  }
}
